/* color palette from <https://github.com/vuejs/theme> */
:root {
  --yellow: #8b894f;
  --background: #F4F4F4;
  --white: #fff;
  --navy: #142972;
  --link: #A17085;
  --red: #DD3C48;
  --info: #F48B80;
  --text: #21214C;
  --blue: #3388bb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  font-family: Kdam Thmor Pro, Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--navy);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 35px;
  font-size: 42px;
  background-color: rgba(0, 204, 255, 0.274);
}